<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your Trip Advisor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">

    <h1>Hello {{user.username}}</h1>
    <a href="/logout">Logout</a>
    <h1>Your Trip Schedules</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Destination</th>
          <th scope="col">Departure Date</th>
          <th scope="col">Return Date</th>
          <th scope="col">Travel Plan</th>
        </tr>
      </thead>
      <tbody>
        {%for trip in user_destinations%}
        <tr>
          <td scope="row"><a href="/viewtrip/{{trip.id}}">{{trip.destination}}</a></td>
          <td>{{trip.departure_date}}</td>
          <td>{{trip.return_date}}</td>
          <td>{{trip.reason_for_trip}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
    <h1>Other User's Travel Plans</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Destination</th>
          <th scope="col">Departure Date</th>
          <th scope="col">Return Date</th>
          <th scope="col">Do You Want to Join?</th>
        </tr>
      </thead>
      <tbody>
        {%for trip in other_destinations%}
        <tr>
          <td>{{trip.added_by.name}}</td>
          <td scope="row"><a href="/viewtrip/{{trip.id}}">{{trip.destination}}</a></td>
          <td>{{trip.departure_date}}</td>
          <td>{{trip.return_date}}</td>
          <td><a href="/jointrip/{{trip.id}}">Join?</a></td>
        </tr>
        {%endfor%}
      </tbody>
    </table>

      <a href="/newtrip">Add New Trip</a>


    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
