<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your Destinations</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="user_trip_info">
      <h1>{{trip.destination}}</h1>
      <a href="/logout">Logout</a>
     <a href="/dashboard">Home</a>
      <p>Planned By: {{trip.added_by.name}}</p>
      <p>Description: {{trip.reason_for_trip}}</p>
      <p>Departure Date: {{trip.departure_date}}</p>
      <p>Return Date: {{trip.return_date}}</p>
      </div>
    <div class="other_users">
      <h3>Other Travelers on this Trip</h3>
      {%for user in all_users%}
      <p>{{user.name}}</p>
      {%endfor%}
       <!--  {%if user in trip.joinTrip.name != trip.added_by.name%} -->
      <!--   {%endif%} -->
    
    </div>
    <a href="/removetrip/{{trip.id}}">Leave This Trip</a>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
